* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: helvetica, sans-serif;
}

.nav {
    border-bottom: 1px solid black;
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
}

.menu li {
    display: inline;
}

.menu a {
    clear: right;
    text-decoration: none;
    padding: 1rem;
    color: black;
    margin: 0 10px;
    line-height: 70px;
    transition: background-color 0.2s ;
}

.menu a:hover {
    background-color: gray;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid black;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }

}

