* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: helvetica, sans-serif;
    
}


.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-light-2 {
    background: #C8C6C4;
}

/*navbar*/

.nav {
    border-bottom: 1px solid black;
    text-align: right;
    height: 70px;
    line-height: 70px;

}

.menu {
    margin: 0 30px 0 0;
}

.menu li {
    display: inline;
}

.menu a {
    clear: right;
    text-decoration: none;
    padding: 1rem;
    color: black;
    margin: 0 10px;
    line-height: 70px;
    transition: background-color 0.2s ;
}

.menu a:hover {
    background-color: gray;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid black;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }

}

/* Showcase area */

#showcase {
    background: url("images/notebook-and-laptop.jpg") no-repeat center center/cover;
    height: 88.6vh;
}
.showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.showcase-content h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.showcase-content .btn {
    font-size: 1.5rem;
    padding: 1rem 10rem;
    transition: color 0.2s, background 0.2s;
}

.showcase-content .btn:hover {
    background: gray;
    color: #fff
}

.btn {
    color: gray;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid gray;
}

/* About me section */
#about {
    padding: 5rem 0;
}

#about h2, #skills h2,
 #projects h2, #contact h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

#about p.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 10%;
}

#about .about-content {
    display: flex;
}

#about .about-text,
#about .about-image {
    flex: 1;
}

#about .about-text {
    text-align: justify;
}

#about .about-image img {
    display: block;
    margin: auto;
    width: 80%;
    border-radius:20%;
    margin-top: 15px;
}

/*skills section*/
#skills {
padding: 5rem 0;
}

#skills .boxes {
    display: flex;
}

#skills .box {
    
    background: #fff;
    flex: 1;
    padding: 3rem;
    margin: 0 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #d1d1d1;
    font-size: 1.3rem ;
    text-align: center;

}

/*projects section*/

#projects .bg-light-2 {
    background: #6B4C3E;
}

#projects {
    padding: 5rem 0;
    
    }
    
#projects .boxes {
    display: flex;
 }
    
#projects .box {
        
        background: #fff;
        flex: 1;
        padding: 3rem;
        margin: 0 3rem;
        border-radius: 10px;
        box-shadow: 2px 2px 5px #d1d1d1;
        font-size: 1.3rem ;
        text-align: center;
}

/*contacts section*/

#contact {
    padding: 5rem 0;
}

#contact h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

#contact h3 {
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem 0;
    margin-top: 1rem;
}

#contact .form-box {
    background: #fff;
    padding: 3rem;
    box-shadow: 2px 2px 5px #d1d1d1;
    border-radius: 10px;
}
#contact .form-group {
    margin-bottom: 2rem;
}

#contact .form-group  label {
    display: block;
    margin-bottom: 0.5rem;
    width: 85%;
    margin-left: 10%;
    font-size: 1.1rem;
}

#contact .form-group input,
#contact .form-group textarea {
    width: 80%;
    margin-left: 10%;
    font-size: 1.3rem;
    padding: 1rem;
    border: 0.5px solid #333;
    border-radius: 5px;
}

#contact .contact-btn {
    width: 80%;
    margin-left: 10%;
    display: inline-block;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    background: #7C7977;
}